{% extends "main/base.html" %}
{% block content %}
<div class="main-wrapper center-wrapper">
    <div class="col-12 col-md-8 card-style text-center">
        <h2>🏁 Welcome to CarsWeb 🏁</h1>
        <p>This website is for car enthusiasts of all kinds. Use it to keep records 
            of your favorite cars, the projects you're working on, what cars you have 
            in your inventory, what cars you will need in the future, or whatever you 
            want or need.
        </p>
    </div>
</div>
{% endblock %}